style.css
html {font-family: 'Noto Sans KR', sans-serif;
      color: #333;
      scroll-behavior: smooth;}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
body, h1, h2, p, ul {margin: 0; padding: 0;}


.logo-text {
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 15px;
  font-weight: bold; 
  color: black;
  text-decoration: none;
}

.white {color: white;}
.wrap {position:relative; width: 1000px; margin: auto;}




/* 1. μΈνΈλ΅ */
header {background: #f8ff65;
            padding: 15px 0px;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 10;}
    .nav-container{display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;}

    .nav-menu{list-style: none;
              display: flex;
              justify-content: center;
              gap: 222px;}

    .nav-menu li a{text-decoration: none;
                  color: black;
                  font-size: 16px;
                  font-weight: 400;
                  padding: 0px 7px;
                  transition: all 0.1s ease;}
    .font900 {font-weight: 900;
                pointer-events: none;}
    .font900 a:hover {background: transparent;}

    nav ul {list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 24px;}

    ul li a:hover{background: #A5FD93;
                  transition: all 0.5s;}




.intro {background-image: url('bg.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: -2;}

.intro h1 {top: 300px;
          font-size: 10rem;
          font-weight: 900;
          z-index: -1;}
.intro h2 {top: 460px;
          font-size: 1.5rem; font-weight: 600;
          z-index: -1;}
.intro p {font-size: 2.5rem;
          font-weight: 800;
          margin-bottom: 100px;}

.grass {position: absolute;
        bottom: 0; left: 0;
        width: 100%; z-index: 2;}

.intro-text {position: relative;
            z-index: 3; color: white;
            text-align: center;
            top: 50%; transform: translateY(-50%);}





/* 2. μ†κ° */
.image-box {
  position: relative;}

.tomato-p {
  position: absolute;
  top: 300px;  
  right: -10px; 
  width: 700px; z-index: 5;}
.spinach-p {
  position: absolute;
  top: -95px;  
  left: -850px; 
  width: 1300px; z-index: 5;}


.whitebox {background-color: white;
          padding: 300px 60px;
          margin: 0 auto;
          max-width: 1000px;}
.whitebox h2 {margin-bottom: 80px;
              font-size: 3rem;
              font-weight: 900;
              color: green;}
.whitebox p {margin-bottom: 20px;
            line-height: 1.5;}






/* 3. μ§„λ‹¨  */
.diagnosis {background-image: url('bg2.jpg');
            padding: 200px 200px;
            background-size: cover;
            background-position: center;
            color: black;}
.diagnosis h2 {font-size: 3rem;
              margin-bottom: 90px;
              line-height: 1.3;}
.testbox {background-color: #edffd3;
          padding: 90px 120px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 40px;}

.diagnosis button {margin-top: 20px;
                  padding: 12px 24px;
                  background-color: #1c6b4c;
                  color: white;
                  border: none;
                  border-radius: 6px;
                  font-size: 1rem;
                  cursor: pointer;}

.scroll-box {
  background-color: white;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  height: 250px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.scroll-box label {
  display: block;
  margin-bottom: 12px;
  font-size: 1rem;
  color: #333;}

.scroll-box input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  accent-color: #1c6b4c;}



.result-box {
  background-color: #edffd3;
  border: 2px solid #1c6b4c;
  padding: 60px 30px;
  margin: 30px 0 80px;
  border-radius: 12px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.7;
  color: #1c6b4c;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 0.4s ease;}

/* π¨ μƒνƒλ³„ λ°°κ²½μƒ‰ */
.result-box.good {
  background-color: #7fff71;}

.result-box.mid {
  background-color: #fffc32;}

.result-box.bad {
  background-color: #f71414; 
  color: white;}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}







/* 4. μ‹¤μ² κ°€μ΄λ“ */
.guide {background-image: url('bg2.jpg');
        background-size: cover;
        background-position: center;
        padding: 600px 200px;}

.guide-box {width: 100%;
            max-width: 1000px;
            padding-bottom: 400px;
            overflow: hidden;
            border-radius: 12px;
            border-color: white;
            background-size: cover;
            background-position: center;
            margin-bottom: 100px;}

.guide-box h3 {margin-bottom: 100px;
              color: white;
              font-size: 1.5rem;
              text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);}

.guide-box.food {background-image: url('food.jpg');
                background-size: cover;
                background-repeat: no-repeat;}

/* μ•λ©΄ */
.flip-front {position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
            color: white;}


/* μ›ν• ν™”μ‚΄ν‘ λ²„νΌ */
.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: white;
  color: #1c6b4c;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  z-index: 9;
  transition: background-color 0.3s, transform 0.2s;}

.circle-button:hover {
  background-color: #f8ff65;
  transform: scale(1.1);}




/* 5. ν‘Έν„° */
#footer {margin-bottom: 0;}
    .yellow {background-color: #f8ff65}
    .footer-content {display: flex; justify-content: space-between;
                    gap: 30px; position: relative;
                    flex-wrap: wrap; z-index: 30;}
    .footer-info {position: relative; z-index: 30;}
    .footer-copyright {font-size: 14px; 
                      position: relative; z-index: 30;
                      color: }
    .margin-f {margin: 20px 0 20px;}
    .font14 {font-size: 14px;}
